<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Notes</h1>
    <% if (notes.length > 0) { %>
        <ul>
            <% notes.forEach(note => { %>
                <li><%= note.fileName %>: <%= note.content %></li>

            <% }) %>
        </ul>
    <% } else { %>
        <p>No notes found.</p>

    <% } %>

    <form action="/add" method = "POST">
        <textarea name="note" placeholder="Enter a note"></textarea>
        <br>
        <button type="submit">Add Note</button>
    </form>
</body>
</html>